.btn {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}

.consult-button {
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #f2f5f7;
  background: $deep-sky-blue;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 410px;
  height: 55px;
  font-size: 18px;

  @include vp-1023 {
    width: 410px;
    height: 55px;
  }

  @include vp-767 {
    width: 270px;
    height: 40px;
    font-size: 14px;
  }
}

.consult-button::before {
  @include vp-767 {
    content: attr(data-mobile-caption);
  }
}

.consult-button__label {
  @include vp-767 {
    display: none;
  }
}
