.questions {
  padding-top: 164px;
  padding-bottom: 229px;
  padding-left: 26px;
  color: $color-default-white;
  background: $form-bg;

  @include vp-1023 {
    padding-top: 46px;
    padding-bottom: 104px;
    padding-left: 0;
    background: none;
    background-color: $deep-sky-blue;
  }

  @include vp-767 {
    padding-top: 48px;
    padding-bottom: 52px;
  }
}

.questions__container {
  display: grid;
  grid-template-columns: 50%;
  grid-template-rows: auto auto;
  grid-row-gap: 35px;
  justify-content: end;
  position: relative;

  @include vp-1023 {
    grid-template-columns: 1fr;
    grid-row-gap: 27px;
    max-width: 768px;
    margin: 0 auto;
  }

  @include vp-767 {
    grid-row-gap: 35px;
    justify-items: start;
  }
}

.questions__container::before {
  content: "";
  width: 510px;
  height: 285px;
  top: 18%;
  left: 15.7%;
  transform: translateX(-40%);
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35.4vw auto;
  background-image: url("../img/content/paper-airplane.png");

  @include retina {
    background-image: url("../img/content/paper-airplane@2x.png");
    background-size: 35.4vw auto;
  }

  @include vp-1023 {
    display: none;
  }
}

.questions__info h2 {
  margin: 0;
  margin-bottom: 11px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;

  @include vp-1023 {
    margin-bottom: 5px;
  }

  @include vp-767 {
    font-size: 30px;
    line-height: 42px;
  }
}

.questions__info p {
  margin: 0;
  padding: 0;
  padding-left: 5px;
  font-size: 16px;
  line-height: 22px;

  @include vp-1023 {
    padding: 0;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
  }
}

.form {
  background-color: $deep-sky-blue;
  color: $color-default-white;
  width: 100%;
  max-width: 585px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 5px;

  @include vp-1023 {
    width: 100%;
    max-width: none;
  }

  @include vp-767 {
    width: 100%;
  }
}

.form input,
.form textarea {
  padding: 14px 16px;
  background-color: $pacific-blue;
  color: $color-default-white;
  border: none;
  font-size: 16px;
  line-height: 22px;
  width: 100%;
}

.form textarea {
  margin-bottom: 0;
  padding: 23px 16px;

  @include vp-1023 {
    padding: 29px 16px 0;
  }

  @include vp-767 {
    padding: 23px 16px 0;
    min-height: 180px;
  }
}

.form input::placeholder,
.form textarea::placeholder {
  color: $color-default-white;
}

.form__fieldset {
  width: 100%;
  margin-bottom: 20px;
}

.form__fieldset--user {
  width: 275px;

  @include vp-767 {
    width: 100%;
  }
}

.form input:hover,
.form textarea:hover,
.form input:focus,
.form textarea:focus {
  background-color: $jelly-bean;
}

.form__button {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  letter-spacing: 0.05em;
  background: #041427;
  color: $color-default-white;
  min-width: 265px;
  height: 45px;
  border: none;
  border-radius: 3px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $jelly-bean;
  }

  @include vp-767 {
    margin-right: 0;
    width: 100%;
    margin-bottom: 16px;
  }
}

.form__fieldset--checkbox {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 8px;

  @include vp-767 {
    flex-direction: column;
    margin-top: 4px;
  }
}

.form__checkbox-wrapper {
  order: 2;
  padding-left: 50px;

  @include vp-1023 {
    padding-top: 9px;
  }

  @include vp-767 {
    padding-top: 7px;
  }
}

.form__label {
  position: relative;
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
  padding-left: 26px;
  cursor: pointer;
  display: flex;
  opacity: 0.8;
}

.form__checkbox-wrapper input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.form__checkbox-wrapper label::before {
  content: "";
  position: absolute;
  top: 25%;
  left: 0;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 1px solid $color-default-white;
  border-radius: 2px;
}

.form__checkbox-wrapper input:checked + label::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 3px;
  width: 15px;
  height: 15px;
  background-image: url("/img/svg/icon/check-mark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.form__agreement-inner input:hover + label::before,
.form__agreement-inner input:focus + label::before {
  background-color: $jelly-bean;
}
