// Vendor
// ---------------------------------

@import "vendor/normalize";
// Swiper 7.4.1
// @import "vendor/swiper";

// Global
// ---------------------------------

@import "variables";
@import "mixins";
@import "global/fonts";
@import "global/reboot";
@import "global/utils";
@import "global/container";

// Blocks
// ---------------------------------

@import "blocks/header.scss";
@import "blocks/logo.scss";
@import "blocks/top-line.scss";
@import "blocks/contact.scss";
@import "blocks/button.scss";
@import "blocks/advantage.scss";
@import "blocks/about.scss";
@import "blocks/catalog.scss";
@import "blocks/form.scss";
@import "blocks/footer.scss";

// ---------------------------------

// ❗❗❗ запрещено использовать изображения в css, касается как jpg \ png, так и svg

// ❗ обязательно используйте @media для отключения ховеров на тач устройствах
// но не используем для текстовых полей ( input, textarea )
/* @media (hover: hover), screen and (min-width: 0\0) {
  &:hover,
  &:focus {
    color: $color-default-white;
  }
} */

// адаптив пишем внутри каждого класса (смотрим container.scss)

// для фикса проблем с vh на iOS в сборке подключен скрипт
// используя vh на проекте задавайте их также как в примере в utils.scss

// для любых transition обязательно указывайте transition-property
// transition: $trans-default ❌ ---> transition: color $trans-default ✅
